# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/topics/scrapyd.html

[settings]
default = example.settings

[deploy:university]
#url = http://192.168.174.31:6800/
project = teacher
